@import '../../App.scss';

.listItem {
  background-color: $light-color;
  border-radius: 8px;
  padding: 10px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;

  .userInfo {
    display: flex;
    padding-top: 5px;

    p {
      color: $light-grey;
    }

    span {
      padding-left: 5px;
    }
  }

  a {
    color: $blue;
    padding-bottom: 5px;
    align-self: self-end;
    cursor: pointer;
  }
}

.countInfo {
  float: right;
}
